.cards{
    display:flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    /* top: 0;
    bottom: 0; */
  }
  .card{
    display: inline-block;
    border: 1px solid #eee;
    box-shadow: 0 2px 2px #ccc;
    width: 300px;
    padding : 20px;
    margin: 20px;
    text-align:center;
  
  }
  img{
    width:200px
  }